.album-card {
  background-color: #181818;
  color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  height: 300px;
  width: 180px;
  min-width: 180px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0,0,0,0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color .5s ease;
}


.album-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
  background-color: #212121;

}

.album-card-cover-art {
  height:180px;
  min-height: 180px;
  width: 178px;
  margin-left: 1px;
  margin-top: 1px;
  border-radius: 1px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
}

.album-card-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
}

.album-card-title {
  font-size: 17px;
  padding-top: 3px;
  height: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.album-card-artist,
.album-card-artist-link,
.album-card-artist a {
  color: #999;
  height: 30px;
  padding-top: 3px;
  line-height: 18px;
  font-size: 15px;
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

.album-card-artist-link:hover {
  color: #aaa;
  text-decoration: underline; 
}

.album-card-type{
  font-size: 14px;
  color: #777;
  margin-left: 0px;
  margin-bottom: 5px;
  width: 80px;
  text-align: left;

}

.album-card-type-album {
  color: #1DB954;
}

.album-card-type-sep {
  color: #e4da73; /* Example color for singles/EPs */
}

.album-card-release-date {
  font-size: 14px;
  margin-left: 0px;
  width: 80px;
  color: #777;
  text-align: left;
}

.album-card-rating {
  position: sticky;
  text-align: center;
  border-radius: 10px;
  font-size: 35px; 
  color: #ccc; 
  bottom: 7px;
  margin-left: 90px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);

}

.album-card-info p {
  margin-top: 1px;
}

@media (max-width: 430px) {
  .album-card {
    height: 260px;
    width: 160px;
    min-width: 160px;
  }

  .album-card-cover-art {
    height: 160px;
    min-height: 160px;
    width: 160px;
    margin-top: 0px;
    margin-left: 0px;
  }

  .album-card-info {
    padding-left: 9px;
    padding-right: 9px;
  }

  .album-card-title {
    font-size: 15px;
    height: 27px;
  }

  .album-card-artist,
  .album-card-artist-link,
  .album-card-artist a {
    font-size: 13px;
    height: 23px;
    line-height: 16px;
    margin-bottom: 0px;
  }

  .album-card-type,
  .album-card-release-date {
    font-size: 12px;
    margin-bottom: 2px;
  }

  .album-card-rating {
    font-size: 30px;
    margin-left: 80px;
  }
}



