@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.album-header{
    background-color: #333;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 3px;
    display: inline-flex;
    width: auto;
    align-items: flex-start;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
    margin-top: 10px;
    margin-left: 27px;
    margin-right: 27px;
    white-space: nowrap;
    text-overflow: ellipsis;
    

}
.album-page-container {
    display: flex;
    flex-wrap: wrap; /*items in this container wrap under each other when they cant fit horizontally*/
    gap: 10px; /*10px gap between items in the container*/
    overflow-y: auto; /*div itself is scrollable when items wrap and dont fit vertically*/  
    background-color: #333;
    height: calc(100vh - 135px); /*This makes the div end at the bottom of the screen, no matter the screensize. 70px offset for the searchbar header*/
    border-radius: 18px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
}
@media (max-width: 845px) {
    .album-header {
        margin-top: 50px;
    }
    .album-page-container {
        height: calc(100vh - 175px); /*This makes the div end at the bottom of the screen, no matter the screensize. 70px offset for the searchbar header*/

    }
  }
/*styling of scrollbar*/
.album-page-container::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px; 
  }
.album-page-container::-webkit-scrollbar-thumb {
    background-color: #181818; 
    border-radius: 10px;
} 
.album-page-container::-webkit-scrollbar {
    width: 8px;
}   
.album-page-container::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}


.album-details-wrapper {
    width: 410px;
    margin-top: 5px;
    align-content: left;

}

.album-details {
    background-color: #181818;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    width: 410px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.album-artist,
.album-artist-link,
.album-artist a { 
    color: rgb(149, 149, 149);
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 7px; 
    text-decoration: none;
    text-align: center;
    height: auto;
}

.album-artist-link:hover,
.album-artist a:hover {
    color: rgb(183, 183, 183);
    text-decoration: underline;
}

.album-release-date {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}
.album-cover-art {
    width: 370px;
    height: 370px;
    border-radius: 4px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.album-info-wrapper {
    display: flex;
    margin-top: 5px;
    width: 200px;
    flex-direction: column; 
    align-items: center;
    gap: 10px;
}

.album-actions-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: column; 
    align-items: center;
    width: 200px;
    gap: 10px;
    margin-right: 5px;
}

.add-album-btn {
    background-color: #181818;
    border: none;
    color: white;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
.add-album-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}
.album-modal .modal-content {
    margin-top: 100px;
    background-color: #181818;
    color: white;
    border-radius: 8px;
}
.album-modal .modal-header {
    text-align: center;
    border-bottom: 1px solid #3c3c3c;
    padding: 16px 24px;
    align-items: center;
    justify-content: space-between;
}
.album-modal .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.album-modal .modal-body {
    padding: 20px 24px;
}
.album-modal .list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}
.album-modal .list-name {
    font-size: 1.2rem;
    margin: 0;
}
.album-modal .list-select-btn {
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    background-color: #232323;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
.album-modal .list-select-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    background-color: #444;
}

.spotify-link-btn{
    background-color: #151515;
    border: none;
    color: white;
    font-size: 17px;
    margin-left: 10px;
    margin-top: 2px;
    width: 45x;
    min-width: 45px;
    height: 50px;
    border-radius: 12px;
    padding-bottom: 4px;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
    text-align: center;
}

.spotify-green {
    color: #1DB954;
    font-size: 28px;
  }
  

.spotify-link-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
}
.list-count {
    background-color: #181818;
    color: white;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
    height: 50px;
    width: 200px;
    font-size: 12px;
    margin: 0;
}
.avg-rating-box {
    width: 300px;
    background-color: #181818;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    margin-bottom: 15px;
}
.submit-rating-box {
    width: 200px;
    background-color: #181818;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    height: 250px;
}
.submit-rating-title {
    color: white;
    margin-bottom: 10px;
    font-size: 1rem;
}
.submit-rating-input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 80px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background-color: #222;
    color: white;
    border: #555 1px solid;
    border-radius: 4px;
    box-shadow: inset   0 4px 8px rgba(0,0,0,0.3);
}

.rating-box {
    width: 200px;
    background-color: #181818;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    text-align: center;
    height: 250px;
}
.rating-title {
    color: white;
    margin-top: 10px;
    font-size: 1rem;
}
.rating-input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 80px;
    height: 140px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background-color: #222;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: inset   0 4px 8px rgba(0,0,0,0.3);

}
.rating-red {
    color: rgba(255, 0, 0, 0.844);
}
.rating-orange {
    color: rgb(255, 204, 0);
}
.rating-green {
    color: rgb(12, 197, 12);
}
.submit-rating-btn {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.submit-rating-btn:hover {
    transform: translateY(-2px);
    background-color: #555; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}




