@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
.add-album-btn {
    background-color: #222;
    border: none;
    color: white;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.add-album-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.5);
}

.album-modal .modal-content {
    margin-top: 100px;
    background-color: #222; /* Dark background for the modal */
    color: white; /* Light text for contrast */
    border-radius: 8px; /* Rounded corners for the modal */
}

/* Modal header with close button */
.album-modal .modal-header {
    text-align: center;
    border-bottom: 1px solid #3c3c3c; /* Slightly lighter border for separation */
    padding: 16px 24px; /* Comfortable padding around the content */
    align-items: center; /* Vertically center the title and close button */
    justify-content: space-between; /* Space between title and close button */
}

/* Modal title styles */
.album-modal .modal-title {
    font-size: 1.5rem; /* Larger font size for the title */
    font-weight: bold; /* Bold font for the title */
}

.album-modal .modal-body {
    padding: 20px 24px; /* Consistent padding with the header */
}

/* Styles for list item container within modal body */
.album-modal .list-item-container {
    display: flex; /* Use flexbox for alignment */
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space between list name and button */
    margin-bottom: 12px; /* Space between each list item */
}

/* List name styles */
.album-modal .list-name {
    font-size: 1.2rem; /* Slightly larger font size for the list name */
    margin: 0; /* Reset margins */
}

/* Button to add album to the list */
.album-modal .list-select-btn {
    display: block; /* Make the button fill the container */
    width: 100%; /* Full width */
    text-align: left; /* Align text to the left */
    padding: 12px 16px; /* Comfortable padding */
    background-color: #333; /* Dark background for the button */
    color: white; /* Light text for contrast */
    border: none; /* No border for a flat design */
    border-radius: 4px; /* Slightly rounded corners */
    margin-bottom: 8px; /* Space between buttons */
    cursor: pointer; /* Cursor indicates an actionable button */
    font-weight: bold; /* Bold font for the list names */
    box-shadow: 0 4px 8px rgba(0,0,0,0.35);
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
}

.album-modal .list-select-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    background-color: #444;
}

.album-modal .close-modal-btn {
}

