@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.album-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.album-header {
    background-color: #252525;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-flex;
    width: auto;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
    margin-top: 7px;
    margin-left: 22px;
    margin-right: 22px;
}

.album-page-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    overflow-y: auto;
    background-color: #252525;
    height: auto;
    max-height: calc(100vh - 125px);
    border-radius: 13px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-left: 7px;
    margin-right: 7px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
    justify-content: center;
}

@media (max-width: 835px) {
    .album-header {
        margin-top: 45px;
    }

    .album-page-container {
        max-height: calc(100vh - 163px);
    }
}

/*styling of scrollbar*/
.album-page-container::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}

.album-page-container::-webkit-scrollbar-thumb {
    background-color: #181818;
    border-radius: 10px;
}

.album-page-container::-webkit-scrollbar {
    width: 8px;
}

.album-page-container::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}


.album-details-wrapper {
    width: 410px;
    margin-top: 5px;
    align-content: left;

}

.album-details {
    background-color: #181818;
    border-radius: 10px;
    padding-top: 0px;
    padding-bottom: 5px;
    padding-left: 1px;
    padding-right: 1px;
    width: 410px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.album-artist,
.album-artist-link,
.album-artist a {
    color: rgb(149, 149, 149);
    font-size: 22px;
    margin: 0;
    margin-bottom: 7px;
    text-decoration: none;
    text-align: center;
    position: relative;
    transition: color 0.2s ease;
}

.album-artist-link::after,
.album-artist a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -0px; 
    left: 0;
    background-color: rgb(183, 183, 183);
    transition: width 0.2s ease;
    margin: 0 auto; 
}

.album-artist-link:hover::after,
.album-artist a:hover::after {
    width: 100%; 
}

.album-artist-link:hover,
.album-artist a:hover {
    color: rgb(183, 183, 183);
}


.album-release-date {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
}

.album-cover-art {
    width: 408px;
    height: 408px;
    border-radius: 2px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.album-info-wrapper {
    display: flex;
    margin-top: 5px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.album-actions-wrapper {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    gap: 10px;
}

.add-album-btn {
    background-color: #181818;
    border: none;
    color: white;
    font-size: 15px;
    width: 200px;
    height: 50px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.add-album-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);

}

.album-modal .modal-content {
    margin-top: 100px;
    width: 400px;
    background-color: #181818;
    color: white;
    border-radius: 8px;
}




.album-modal .modal-header {
    text-align: center;
    border-bottom: 1px solid #3c3c3c;
    padding: 16px 24px;
    align-items: center;
    justify-content: space-between;
}

.album-modal .modal-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.album-modal .modal-body {
    padding: 20px 24px;
    max-height: 400px;
    overflow-y: auto;
}

.album-modal .list-item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
}

.album-modal .list-name {
    font-size: 1.2rem;
    margin: 0;
}

.album-modal .list-select-btn {
    display: block;
    width: 100%;
    text-align: left;
    padding: 12px 16px;
    background-color: #232323;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.album-modal .list-select-btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
    background-color: #444;
}

.spotify-btn {
    color: #1DB954;
    font-size: 30px;
    transition: transform 0.2s ease, color 0.3s ease;
}


.spotify-btn:hover {
    cursor: pointer;
    transform: translateY(-1px);
    color: #22cd5e;
}

.list-count {
    background-color: #181818;
    color: white;
    border-radius: 8px;
    padding-left: 10px;
    padding-top: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.35);
    height: 50px;
    width: 200px;
    font-size: 12px;
    margin: 0;
}

.avg-rating-box {
    width: 200px;
    background-color: #181818;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 15px;
}

.submit-rating-box {
    width: 200px;
    background-color: #181818;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 250px;
}

.submit-rating-title {
    color: white;
    margin-bottom: 10px;
    font-size: 1rem;
}

.submit-rating-input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 80px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background-color: #222;
    color: white;
    border: 1px solid #444;
    border-radius: 4px;
    box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: border 0.2s ease;
}

.submit-rating-input:focus {
    outline: none;
    border: 1px solid #e8e8e8;
}

.rating-box {
    width: 200px;
    background-color: #181818;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    height: 250px;
}

.rating-title {
    color: white;
    margin-top: 10px;
    font-size: 1rem;
}

.rating-input {
    font-family: 'JetBrains Mono', monospace;
    font-size: 80px;
    height: 140px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
    background-color: #181818;
    color: white;
    border: none;
    border-radius: 4px;

}

.rating-red {
    color: rgba(222, 42, 42, 0.844);
}

.rating-orange {
    color: rgb(227, 218, 37);
}

.rating-green {
    color: #1DB954;
}

.submit-rating-btn {
    width: 100%;
    padding: 10px;
    background-color: #252525;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.submit-rating-btn:hover {
    transform: translateY(-2px);
    background-color: #353535;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.list-comments-section,
.comments-section {
    background: #181818;
    margin-top: 5px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 410px;
    max-height: 310px;
    position: relative;
    padding-bottom: 80px;
}

.comments-container {
    max-height: 213px;
    overflow-y: auto;
    background-color: #181818;
}

.comments-container::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}

.comments-container::-webkit-scrollbar-thumb {
    background-color: #000;
    border-radius: 10px;
}

.comments-container::-webkit-scrollbar {
    width: 5px;
}

.comments-header {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;

}

.comment {
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
    margin-right: 5px;
}

.comment-header {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

.comment-user {
    font-weight: bold;
    color: #1DB954;
    font-size: 14px;
}

.comment-user:hover {
    text-decoration: underline;
    color: #22d460;
    cursor: pointer;
}

.comment-date {
    font-size: 11px;
    color: #aaa;
}

.delete-comment-btn {
    font-size: 11px;
    color: #e11515;
}

.delete-comment-btn:hover {
    text-decoration: underline;
    color: #ff2020;
    cursor: pointer;
}

.comment-content {
    font-size: 13px;
    overflow-wrap: break-word;

}

.comment-submission-section {
    display: flex;
    gap: 10px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.comment-textarea {
    flex-grow: 1;
    border-radius: 4px;
    border: 1px solid #444;
    padding: 10px;
    font-size: 13px;
    color: #ddd;
    background-color: #222;
    resize: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: border 0.2s ease;
}

.comment-textarea:focus {
    outline: none;
    border: 1px solid #e8e8e8;
}


.rating-btns {
    display: flex;
    gap: 8px; 
}

.submit-comment-btn {
    padding: 10px;
    background-color: #252525;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.submit-comment-btn:hover {
    transform: translateY(-2px);
    background-color: #353535;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.delete-rating-btn {
    padding: 5px;
    background-color: #642727;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
}

.delete-rating-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.modal-header,
.modal-footer,
.modal-body {
    font-family: 'JetBrains Mono', monospace;
}

.modal-body::-webkit-scrollbar-track {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-body::-webkit-scrollbar-thumb {
    background-color: #252525;
    border-radius: 10px;
}

.modal-body::-webkit-scrollbar {
    width: 6px;
}

.modal-body::-webkit-scrollbar-thumb:hover {
    background-color: #111;
}

.new-list-btn {
    background-color: #252525;
    border: none;
    color: white;
    text-align: center;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.new-list-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
    background-color: #444;

}

.tracklist-section {
    background-color: #181818;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    width: 410px;
    position: relative;
}

.tracklist-header {
    margin-bottom: 5px;
    font-size: 18px;
    text-align: center;
}

.tracklist {
    display: flex;
    flex-direction: column;
    background-color: #181818;

}

.track {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #444;
    margin-bottom: 10px;
    margin-right: 5px;
}

.track:last-child {
    border-bottom: none;
    margin-bottom: 0px;
}

.track-name {
    color: #fff;
    font-size: 15px;
}

.track-number {
    color: #aaa;
}


.track-duration {
    font-size: 14px;
    color: #aaa;
}

.popularity-section {
    display: flex;
    flex-direction: column;
    background-color: #181818;
    border-radius: 10px;
    padding: 10px;
    align-items: center;
    gap: 10px;
    width: 200px;
    height: auto;
    max-height: 100px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.popularity-title {
    font-size: 16px;
    color: #fff;
}

.popularity-value {
    font-size: 35px;
}

.slash-ten {
    font-size: 16px;
    color: #aaa;
}



@media (max-width: 1710px) {
    .tracklist-section {
        margin-top: -190px;
        margin-left: 840px;
    }
}

@media (max-width: 1283px) {
    .tracklist-section {
        margin-top: -80px;
        margin-left: 0px;
    }
}

@media (max-width: 877px) {
    .tracklist-section {
        margin-top: 5px;
    }
}

@media (max-width: 480px) {

    .album-page-container {
        padding-left: 5px;
        padding-right: 5px;
    }

    .album-details-wrapper,
    .album-details,
    .album-cover-art,
    .list-comments-section,
    .comments-section,
    .tracklist-section {
        width: 350px;
    }

    .album-cover-art {
        height: 350px;
    }

    .album-info-wrapper,
    .album-actions-wrapper,
    .add-album-btn,
    .list-count,
    .avg-rating-box,
    .submit-rating-box,
    .popularity-section,
    .rating-box {
        width: 170px;
    }

    .add-album-btn,
    .list-select-btn
    {
        width: 170px;
        height: 48px;
        font-size: 14px;
    }

    .submit-rating-btn {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }

    .submit-rating-box,
    .rating-box {
        height: 235px;
    }

    .rating-title {
        margin-top: 0px;
    }

    .rating-input,
    .submit-rating-input {
        height: 125px;
        padding: 8px;
        font-size: 73px;
    }

    .album-modal .modal-content {
        width: 380px;
    }

    .album-header {
        font-size: 20px;
    }

    .album-artist,
    .album-artist-link,
    .album-artist a {
        font-size: 18px;

    }

    .album-release-date {
        font-size: 16px;
    }

    .comment-textarea:focus {
        font-size: 16px;
    }
}

@media (max-width:370px)
{
    .album-details-wrapper,
    .album-details,
    .album-cover-art,
    .list-comments-section,
    .comments-section,
    .tracklist-section {
        width: 320px;
    }

    .album-cover-art {
        height: 320px;
    }

    .album-info-wrapper,
    .album-actions-wrapper,
    .add-album-btn,
    .list-count,
    .avg-rating-box,
    .submit-rating-box,
    .popularity-section,
    .rating-box {
        width: 155px;
    }

    .list-count {
        font-size: 11px;
    }

    .add-album-btn,
    .list-select-btn,
    .submit-rating-btn,
    .new-list-btn {
        width: 150px;
        height: 48px;
        font-size: 14px;
    }

    .submit-rating-title {
        font-size: 0.9rem;
    }

    .submit-rating-btn {
        width: 130px;
        height: 45px;
    }

    .submit-rating-box,
    .rating-box {
        height: 210px;
    }

    .rating-title {
        margin-top: 0px;
        font-size: 14px;  
    }

    .rating-input,
    .submit-rating-input {
        height: 105px;
        padding: 8px;
        font-size: 63px;
    }

    .album-modal .modal-content {
        width: 350px;
    }

    .album-header {
        font-size: 20px;
    }

    .album-artist,
    .album-artist-link,
    .album-artist a {
        font-size: 18px;

    }

    .album-release-date {
        font-size: 16px;
    }

    .popularity-value {
        font-size: 32px;
    }

}