.user-ratings-header,
.artist-header {
  margin-left: 22px;
  margin-right: 22px;
  background-color: #252525;
  margin-top: 7px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 4px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.user-ratings-header{
  font-size: 20px;
}

.album-name-header,
.artist-name {
  font-size: 20px; 
  line-height: 1; 
  overflow: visible;
  white-space: normal; 
}


.album-count {
  font-size: 15px;
  color: #c0c0c0;
  white-space: nowrap;
}

.artist-page-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.artist-albums-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #252525;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  width: 100%;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-top: -8px;
  column-gap: 10px;
  row-gap: 2px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);

}



.artist-albums-container::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;


}


.artist-albums-container::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 10px;

}

.artist-albums-container::-webkit-scrollbar {
  width: 8px;
}


.artist-albums-container::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}

.related-artists-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  background-color: #252525;
  width: 160px;
  min-width: 160px;
  font-size: 13px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 7px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: -8px;
  gap: 15px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.5);
}

.related-artists-container::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.related-artists-container::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 10px;
}

.related-artists-container::-webkit-scrollbar {
  width: 8px;
}

.related-artists-container::-webkit-scrollbar-thumb:hover {
  background-color: #111;
}

@media (max-width: 835px) {
  .artist-header {
    margin-top: 45px;
  }

  .artist-albums-container {
    max-height: calc(100vh - 163px);
  }

  .artist-name {
    font-size: 22px;
  }

  .related-artists-container {
    max-height: calc(100vh - 163px);
  }
}


.related-artist-image {
  width: 118px;
  height: 118px;
  border-radius: 50%;
  object-fit: cover;
}

.related-artist-card {
  display: inline-block;
  text-align: center;
  width: 120px;
  padding: 1px;
  margin-bottom: 5px;
  margin-left: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.2s ease;

}

.related-artist-card:hover {
  transform: translateY(-2px);
}

.related-artist-name {
  margin-top: 3px;
  margin-bottom: 5px;
  font-size: 13px;
  color: #fff;

}


.see-more-btn-container {
  width: 100%;
  display: flex;
  justify-content: center;

}

.see-more-btn {
  height: 30px;
  width: 120px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #181818;
  color: white;
  border: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.see-more-btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

@media only screen and (max-width: 580px) {
  .artist-page-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
  }

  .artist-albums-container {
    height: calc(100vh - 263px);
    border-bottom-left-radius: 0;
    border-top-left-radius: 15px;
    width: auto;
    margin-bottom: 0;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
    padding-left: 7px;
    padding-right: 7px;
    column-gap: 7px;
  }

  .related-artists-container {
    flex-direction: row;
    justify-content: flex-start;
    height: 100px;
    min-height: 100px;
    width: 96.5%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    overflow-x: auto;
    overflow-y: hidden;
    margin-top: 5px;
    padding-top: 1px;
    border-radius: 15px;
    margin-left: 7px;
    padding-right: 0px;
  }

  .related-artists {
    display: flex;
    flex-direction: row;
  }

  .related-artist-card {
    width: 90px;
    height: 100px;
    margin-left: 0;
    margin-right: 5px;
  }

  .related-artist-image {
    width: 68px;
    height: 68px;
  }

  .related-artist-name {
    font-size: 11px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

}
