.create-list-page {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding-top: 12px;
  padding-bottom: 12px;
  max-height: calc(100vh - 55px); 
  overflow-y: auto; 
}

.create-list-page::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px; 
} 
.create-list-page::-webkit-scrollbar-thumb {
    background-color: #181818; 
    border-radius: 10px;
    border: 4px solid transparent; 
    background-clip: padding-box; 
  }
  .create-list-page::-webkit-scrollbar {
    height: 8px;
  }
  .create-list-page::-webkit-scrollbar-thumb:hover {
    background-color: #111;
  }

@media (max-width: 760px) {
  .create-list-page {
      margin-top: 40px;
      max-height: calc(100vh - 100px); 

  }
}

.list-input-card {
  margin-left: 10px;
  display: flex;
  width: auto;
  flex-direction: row;
  width : 100%;  
}

.list-inputs{
  display: flex;
  flex-direction: column;
  width: 45%;
  background-color: #333;
  border-radius: 18px;
  margin-bottom: 10px;
}

.playlist-input{
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  margin-right: 10px;
}

.playlist-url-input {
  display: block;
  width: 100%;
  height: 65%;
  font-size: 15px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #333;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
  padding: 10px;
  border: none;
  resize: none;
}

.playlist-url-input::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px; 
  border-radius: 10px;
} 
.playlist-url-input::-webkit-scrollbar-thumb {
    background-color: #181818; 
    border-radius: 10px;

  }
  .playlist-url-input::-webkit-scrollbar {
    width: 6px;
  }
  .playlist-url-input::-webkit-scrollbar-thumb:hover {
    background-color: #111;
  }


.playlist-url-input:focus{
  outline: none;
  border-bottom: 1px solid #444;

}

.add-playlist-btn {
  background: #181818;
  color: white;
  font-size: 15px;
  width: auto;
  border: none;
  border-radius: 8px;
  margin-bottom: 2px;
  cursor: pointer;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
} 

.add-playlist-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}


.album-list-card {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  width: 100%;
  background-color: #252525;
  border-radius: 18px;
  padding-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 13px;
  padding-right: 13px;
  overflow-x: auto;
  justify-content: flex-start; 
  padding-bottom: 5px;
  gap: 13px;
  
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
}



.album-list-card::-webkit-scrollbar-track {
  margin-left: 14px;
  margin-right: 14px; 
  background-color: transparent;

}
  
  
.album-list-card::-webkit-scrollbar-thumb {
  background-color: #181818;
  border-radius: 10px;
  background-clip: padding-box;
}

  
  
.album-list-card::-webkit-scrollbar {
  height: 7px; 
}
  
  
.album-list-card::-webkit-scrollbar-thumb:hover {
  background-color: #111;
  height: 8px; 

}

.list-title-input {
  background: #333;
  color: white;
  border: none;
  width: 100%;
  border-top-left-radius: 10px;
  padding: 10px;
  font-size: 1.2em;
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
}



.list-description-input {
  background: #333;
  color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom: 1px solid #252525;
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
}


.list-title-input {
  font-size: 30px;
}


.list-description-input {
  height: 100px;
  resize: none;
}

.list-title-input:focus,
.list-description-input:focus {
  outline: none;
  border-bottom: 1px solid #656565;
}

.list-actions {
  display: inline-flex;
  justify-content: flex-start;
  margin-left: 25px;
  background-color: #252525;
  border-top-left-radius: 15px; 
  border-top-right-radius: 15px; 
  gap: 10px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: inset 0 4px 8px rgba(0,0,0,0.5);
}

.discard-btn,
.delete-btn,
.edit-btn,
.save-btn,
.add-btn {
  border: none;
  font-size: 15px;
  height: 35px;
  padding: 7px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.35);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  
}
.discard-btn:hover,
.delete-btn:hover,
.edit-btn:hover,
.save-btn:hover,
.add-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6);
}
.discard-btn {
  background: #642727;
}

.delete-btn {
  background: #642727;
}

.save-btn {
  background: #225224;
}

.edit-btn {

  background: #181818;
}

.add-btn {
  background: #181818; 
}


.remove-album-btn{
  background: transparent;
  color: rgb(205, 205, 205);
  font-size: 11px;
  border: none;
  cursor: pointer;
  margin-left: 44px;
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
.remove-album-btn:hover {
  color: white;
  text-decoration: underline;
}

.login-prompt-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.login-prompt {
  background: #252525;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  text-align: center;
  margin-bottom: 50px;
}

.login-prompt p {
  margin-bottom: 15px;
}

.login-prompt button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background-color: #181818;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.login-prompt button:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}

