@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.sidebar {
  position: fixed;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-left: 10px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  top: 0;
  left: 10px;
  width: 430px;
  height: 55px;
  background-color: #181818;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
}

@media (max-width: 760px) {
  .sidebar {
    max-width: 430px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 20px);
  }
}

.sidebar-links {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.sidebar-links a {
  color: #fff;
  margin-right: 7px;
  text-decoration: none;
  text-align: center;
  font-size: 10px;
  border-radius: 5px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 5px;
}

.sidebar-links a:hover {
  transform: translateY(-2px);
  color: white;
}

.icon-size {
  font-size: 20px;
  vertical-align: middle;
  margin-bottom: 2px;
}

.mb-logo {
  width: 24px;
  height: 22px;
  border-radius: 8px;
}

.sidebar .home-link {
  font-family: 'JetBrains Mono', monospace;
  letter-spacing: 0px;
  color: #fff;
  text-decoration: underline;
  font-size: 35px;
  margin-right: 10px;
}


.hamburger,
.pop-out-menu {
  display: none;
}

.pop-out-menu {
  position: fixed;
  top: 105px;
  right: 0;
  background-color: #181818;
  width: 80%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  z-index: 100;
  border-radius: 10px;
}

.pop-out-menu a {
  display: block;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.35s;
}

.pop-out-menu a:hover {
  background-color: #333;
  color: #fff;
}

.pop-out-menu a:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.pop-out-menu a:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



@media (max-width: 430px) {

  .sidebar {
    top: -1px;
    width: 80%;
    margin-left: 8.5%;
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    justify-content: space-evenly;
  }

  .sidebar .home-link {
    background-color: #181818;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 1px 10px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    display: block;
  }

  .hamburger {
    display: block;
    cursor: pointer;
    height: 45px;
    margin-bottom: 5px;
    font-size: 26px;
    background-color: #181818;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    padding: 2.5px 8px;
    border-radius: 7px;
  }

  .icon-size {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 3px;
  }

  .mb-logo {
    margin-left: -1.5px;
    margin-right: 8.5px;
    margin-bottom: 4px;
  }

  .pop-out-menu {
    display: block;
  }

  .sidebar-links {
    display: none;
  }



}