.sidebar {
    position: fixed;
    color: #fff;
    left: 0;
    top: 0;
    width: 180px;
    height: 100vh;
    max-height: 100vh;
    text-align: center;
    background-color: #222;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  .sidebar a {
    display: block;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 16px;
    text-decoration: none;
    font-size: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
  }

  .sidebar a:hover {
    transform: translateY(-2px);
    color: white;
    font-size: 16px;
  }

  .sidebar .home-link {
    font-size: 30px;  
    text-decoration: underline;
    transition: transform 0.2s ease, box-shadow 0.2s ease; 
  }
  
  .sidebar .home-link:hover {
    font-size: 30px;
    transform: translateY(0px);

  }
