@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

.app {
  font-family: 'JetBrains Mono', monospace;
  padding-top: 70px;
  background-image: linear-gradient(to bottom, #727272, #505050 35%);
  color: #fff;
  min-height: 100vh;
}

.page{
  margin-left: 20px;
  
}

.tracklist-box {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.tracklist-box h2 {
  margin-bottom: 10px;
}

.tracklist-box ul {
  list-style-type: none;
  padding: 0;
}

.tracklist-box li {
  margin-bottom: 5px;
  font-size: 14px;
}

.recent-lists-container-title {
  font-size: 18px;
  text-align: left;
  margin-left: 30px;
}
.highest-rated-albums-container-title {
  margin-top:10px;
  font-size: 18px;
  text-align: left;
  margin-left: 30px;
}

.see-more{
  font-size: 15px;
  color: #a0a0a0;
  text-decoration: none;
}

.see-more:hover{
  color: #bcbcbc;
  text-decoration: underline;
}

.recent-lists-container {
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left:15px;
  overflow-x: auto;
  justify-content: flex-start; 
  gap: 15px;
}

.highest-rated-albums-container{
  display: flex;
  flex-wrap: nowrap;
  padding-top: 10px;
  padding-left: 15px;
  overflow-x: auto;
  justify-content: flex-start; 
  padding-bottom: 8px;
  gap: 15px;
}

.recent-lists-container::-webkit-scrollbar-track {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #444;
  border-radius: 10px;

}


.recent-lists-container::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 10px;
}


.recent-lists-container::-webkit-scrollbar {
  height: 7px;
}


.recent-lists-container::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}
.highest-rated-albums-container::-webkit-scrollbar-track {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #444;
  border-radius: 10px;

}


.highest-rated-albums-container::-webkit-scrollbar-thumb {
  background-color: #333; 
  border-radius: 10px;
  
}


.highest-rated-albums-container::-webkit-scrollbar {
  height: 7px;
  padding-bottom: 5px;

}


.highest-rated-albums-container::-webkit-scrollbar-thumb:hover {
  background-color: #222;
}
.sort-button {
  position: relative;
  margin-left: 15px;
  margin-bottom: 7px;
  background-color: #555;
  color: white;
  border: 2px solid #4f4f4f;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 12px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.3);
  transition: transform 0.2s ease, box-shadow 0.2s ease; 
}
.sort-button:hover {
  transform: translateY(-2.5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.sort-button.active, .sort:hover {
  border-color: rgb(227, 253, 226);
  background-color: #333;

}  

.all-albums-container {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  max-height: calc(100vh - 107px); 
  overflow-y: auto; 
  padding-left: 15px;
  justify-content: flex-start;
  padding-top: 10px;
  padding-bottom: 20px;
  margin-right: 5px;
  gap: 15px;
}

.all-albums-container::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 20px; 

}


.all-albums-container::-webkit-scrollbar-thumb {
  background-color: #363636; 
  border-radius: 10px;
  border: 4px solid transparent; 
  background-clip: padding-box; 
}


.all-albums-container::-webkit-scrollbar {
  height: 8px;
}


.all-albums-container::-webkit-scrollbar-thumb:hover {
  background-color: #2b2b2b;
}