@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');
.app {
  font-family: 'JetBrains Mono', monospace;
  background-color: #7a7a7a;
  min-height: 100vh;
  color: #fff;
}

.main {
  margin-left: 225px; /* Same as sidebar width */
  padding-top: 125px; /* Height of the search bar */
  font-family: 'JetBrains Mono', monospace;
  background-color: #7a7a7a;
}

.album-card {
  background-color: #333;
  color: white;
  border-radius: 8px;
  overflow: hidden;
  height: 370px;
  width: 200px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 8px 16px rgba(0,0,0,0.25);
}


.cover-art {
  height:180px;
  width: 180px;
  margin: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 8px 16px rgba(141, 141, 141, 0.35);
}

.album-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%; /* Make sure the container takes full height of the parent */
  justify-content: space-between; /* Push the elements to the top and bottom */
}

.album-title {
  overflow: hidden;
  height: 40px; /* Fixed height for title to accommodate potential two lines */
  line-height: 18px; /* Adjust based on your desired line height */
  margin-top: 2px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: ellipsis;
}

.album-artist {
  padding-top: 1px;
  font-size: clamp(12px, 1.5vw, 25px); /* Adjust padding as needed */
  /* ... other styles ... */
}

.album-release-date {
  padding-top: 1px; /* Adjust padding as needed */
  /* ... other styles ... */
}

.album-info p {
  margin-top: 1px;
}

.albums-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
}

.tracklist-box {
  margin: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.tracklist-box h2 {
  margin-bottom: 10px;
}

.tracklist-box ul {
  list-style-type: none;
  padding: 0;
}

.tracklist-box li {
  margin-bottom: 5px;
  font-size: 14px;
}



  

  