.welcome {
  margin: 0 auto;
  padding: 20px 10px;
  text-align: center;
  overflow-y: auto;
  height: calc(100vh - 55px);
  
}

.welcome h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
  transition: font-size 0.2s ease;
}

.musicboxd {
  display: inline-block;
  font-size: 4em;
  margin-bottom: 0.5em;
  text-decoration: underline;
  font-weight: bold;
  background-color: #181818;
  width: auto;
  padding: 0 10px;
  border-radius: 10px;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.25);
  transition: font-size 0.2s ease;

}

.welcome p {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1em;
  transition: font-size 0.2s ease;

}

.welcome-links {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}

.welcome-link {
  display: inline-block;
  margin: 0 10px;
  padding: 7px 12px;
  background-color: #1DB954;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  transition: background-color 0.2s, color 0.3s, box-shadow 0.2s, transform 0.2s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
  margin-top: 7px;
  margin-bottom: 7px;
}

.welcome-link:hover {
  background-color: #000;
  color: #1DB954;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px);

}

.icon-linkedin, .icon-github {
  font-size: 30px;
  margin-left: 12px;
  color: inherit;
  transition: color 0.3s ease, transform 0.2s ease;
}

.icon-linkedin {
  color: #0077b5;
}

.icon-linkedin:hover{
  color: #fff;
  transform: translateY(-1px);
}

.icon-github {
  color: #fff;
}

.icon-github:hover {
  color: #333;
  transform: translateY(-1px);
}


.s-musicboxd
{
  text-decoration: underline;
  font-weight: bold;
  background-color: #181818;
  width: auto;
  padding: 1px 2px;
  border-radius: 4px;
  box-shadow:  0 4px 8px rgba(0, 0, 0, 0.25);
}

.mobile-message {
  display: none;
  background-color: #252525;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  border-left: 4px solid #1DB954;
  padding: 10px;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
  transform: display 0.2s ease;
}

.message {
  max-width: 700px;
  background-color: #252525;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.5);
  border-left: 4px solid #1DB954;
  padding: 10px;
  font-size: 0.9em;
  margin-left: auto;
  margin-right: auto;
}


.album-card-img{
  width: 200px;
  margin-bottom: 5px;
  transform: width 0.2s ease;
}

@media (max-width: 760px) {
  .welcome{
    padding-top: 15px;
    height: calc(100vh - 60px);
  }  

}

@media (max-width: 580px) {
  .welcome h1 {
    font-size: 1.8em;
  }

  .musicboxd {
    font-size: 3em;
  }

  .welcome p {
    font-size: 0.9em;
  }

  .album-card-img{
    width: 150px;
  }



  .mobile-message {
    display: block;
  }
}